body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #9E9E9E;
  color: white;
  height: 4000px;
}

.wrap {
  width: 960px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
